{% extends "dashboard/base.html" %}

{% load i18n %}
{% load price from taxed_prices %}
{% load staticfiles %}
{% load status %}
{% load utils %}

{% block title %}{{ product }} - {{ block.super }}{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_products_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:quotation-list" %}" class="breadcrumb">
        {% trans "Cotizaciones" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:quotation-list" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px"/>
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {{ quotation.user }}
      </span>
    </li>
  </ul>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <span class="card-title" contenteditable="true">
            Cotización solicitada por: {{ quotation.user }}
          </span>
          <p>
            Fecha de solicitud: {{ quotation.created_on }}
          </p>
        </div>
      </div>

      <div class="card">
        <div class="data-table-header">
          <span class="data-table-title" contenteditable="true">
            Productos
          </span>
        </div>
        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            <thead>
            <tr>
              <th>Producto</th>
              <th>Variante</th>
              <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              {% for product in products %}
                <td>{{ product.variant.product }}</td>
                <td>{{ product.variant }}</td>
                <td>{{ product.quantity }}</td>
              {% endfor %}
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
