{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                {#                <h1>{% trans "Promo & Sale" context "Homepage title" %}</h1>#}
                {#                <h2>{% trans "from the Northpole" context "Homepage title" %}</h2>#}
                {#                  <a class="btn btn-secondary home__button" href="#">#}
                {#                    {% trans "Shop now" context "Homepage action" %}#}
                {#                  </a>#}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 home__block2">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                {#                <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>#}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 home__block3">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                {#                <h1>{% trans "Digital Downloads" context "Homepage title" %}</h1>#}
                {#                <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>#}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if products %}
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    {% endif %}

    <br/>
    <br/>


  <div class="home__featured text-center">
      <h2 class="text-center">Nuestros Servicios</h2>
      <div class="row">
        <div class="col-12">
          Tenemos como finalidad  resolver de manera integral las necesidades publicitarias de las empresas dividiéndose en 5 diferentes unidades de negocio:
          <br/><br/>
          Algunas de las empresas que han confiado en nosotros
          <br/><br/>
          <img src="{% static 'images/Articulos-promocionales.jpg' %}" style="max-width: 70%;"/>

        </div>
      </div>
    </div>

    <div class="home__featured text-center">
      <h2 class="text-center">{% trans "Nuestros Clientes" context "Homepage title" %}</h2>
      <div class="row">
        <div class="col-12">
          Numerosas empresas han confiado en nuestra calidad, infraestructura, seriedad y profesionalismo, por lo que
          estamos orgullosos de trabajar con muchas de las empresas más relevantes y competitivas del país, nos
          mantenemos a la altura de sus requerimientos y trabajamos en las relaciones a largo plazo.
          <br/><br/>
          Algunas de las empresas que han confiado en nosotros
          <br/><br/>
          <img src="{% static 'images/Nuestros_clientes.jpg' %}" style="max-width: 70%;"/>

        </div>
      </div>
    </div>


    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
