{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
  <div class="home__featured text-center">
    <h2 class="text-center">¿Quieres ser distribuidor?</h2>
    <div class="row">
      <div class="col-12">
        Nos dedicamos a importar, diseñar y producir articulos promocionales, tenemos un amplísimo catálogo de productos
        pues contamos con talleres en México de elaboración de textiles, así como oficina de representación en China
        desde donde importamos directamente. Si requiere precios de distribuidor así como los beneficios de estar
        registrado como mayorista por favor contáctenos en el correo distribuidor@(dominiowebsite)
      </div>
    </div>
  </div>

{% endblock %}
