{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
  <div class="home__featured text-center">
    <h2 class="text-center">¿Quiénes somos?</h2>
    <div class="row">
      <div class="col-12">
        Tenemos como finalidad resolver de manera integral las necesidades publicitarias de las empresas dividiéndose en
        5 diferentes unidades de negocio:

        <br>
        <br>
        <br>
        <br>

        <h3><strong>Artículos promocionales</strong></h3>
        <p>
          Le ofrecemos todo tipo de promocional tanto nacional como de importación para cada ocasión y necesidad de su
          empresa. Contamos con Padrón de Importador y oficina de representación en Shanghai china.
        </p>

        <br>
        <br>
        <h3><strong>Impresión en Gran Formato</strong></h3>
        <p>
          Contamos con diferentes máquinas para todo tipo de impresión en gran formato como es punto de venta y
          espectaculares, así mismo ofrecemos el servicio de montaje y desmontaje en el cual estamos certificados.
          Gráficos y rotulación por computadora (Plotter).
        </p>

        <br>
        <br>
        <h3><strong>Stands para exposiciones</strong></h3>
        <p>
          Venta y renta, déjenos ayudarle con los mejores diseños para que su Expo sea todo un éxito. Planeación y
          asesoría logística para cualquier tipo de exposición o feria comercial.
        </p>

        <br>
        <br>
        <h3><strong>Exhibidores</strong></h3>
        <p>
          Fabricamos exhibidores en varios materiales, como son madera, MDF, policarbonato, estireno, aluminio, acero
          inoxidable, etc. déjenos presentarle el diseño ideal para exhibir su producto.
        </p>

        <br>
        <br>
        <h3><strong>Impresos en Offset</strong></h3>
        <p>
          Carteles, catálogos, volantes y folletos.
        </p>

      </div>
    </div>
  </div>

{% endblock %}
